[Unit]  
Description=auragridcore
  
[Service]  
WorkingDirectory=/var/app/auragridcore/
ExecStart=/usr/bin/dotnet /var/app/auragridcore/Aura.GridCore.dll
User=www-data  
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-sample-service  
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false  
  
[Install]  
WantedBy=multi-user.target  